






*
{
 margin:0;
 padding:0;
}
#login-form
{
 margin-top:70px;
}
table
{
 border:solid #dcdcdc 1px;
 padding:25px;
 box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}
p
{
    margin-top: 60px;
    margin-left: 285px;
    margin-right: 620px;
    font-size: xx-large;
    background-color: yellow;
}
#login{

margin-right:840px;
}

#logout{
margin-right:10px;
}

